<!DOCTYPE html>
<html lang="en">

<%- include("./layout/head.ejs") %>

    <body>

        <section class="game-section">
            <div style="
            position: absolute;
            color: white;
            padding: 8px;
            font-size: 14px;
            user-select: none;
        ">
                <span>Score: <span id="scoreEl">0</span></span>
            </div>
            <div class="game-options">
                <p>Aqui va las opciones</p>
                <p>Boton para reiniciar juego</p>
                <p>codigo para invitar amigo</p>
                <p>algo mas que se me ocurra...</p>
            </div>
            <div class="game-board">
                <div class="card-container">
                    <input card-input type="checkbox" class="onclick-faker">
                    <div class="card">
                        <label for="card-input">
                            <div class="front">
                                <p>Parte delantera</p>
                            </div>
                        </label>
                        <div class="back">
                            <img id="plane" src="assets/airplane-svgrepo-com.svg" alt="Plane">
                        </div>
                    </div>
                </div>
                <canvas></canvas>
                <div class="card-container" style="background-color: burlywood;"></div>
                <div class="card-container" style="background-color: burlywood;"></div>
                <div class="card-container" style="background-color: burlywood;"></div>
                <div class="card-container" style="background-color: burlywood;"></div>
                <div class="card-container" style="background-color: burlywood;"></div>
                <div class="card-container" style="background-color: burlywood;"></div>
                <div class="card-container" style="background-color: burlywood;"></div>
                <div class="card-container" style="background-color: burlywood;"></div>
                <div class="card-container" style="background-color: burlywood;"></div>
                <div class="card-container" style="background-color: burlywood;"></div>
                <div class="card-container" style="background-color: burlywood;"></div>
                <div class="card-container" style="background-color: burlywood;"></div>
                <div class="card-container" style="background-color: burlywood;"></div>
                <div class="card-container" style="background-color: burlywood;"></div>
                <div class="card-container" style="background-color: burlywood;"></div>
                <div class="card-container" style="background-color: burlywood;"></div>
                <div class="card-container" style="background-color: burlywood;"></div>
                <div class="card-container" style="background-color: burlywood;"></div>
                <div class="card-container" style="background-color: burlywood;"></div>
                <div class="card-container" style="background-color: burlywood;"></div>
                <div class="card-container" style="background-color: burlywood;"></div>
                <div class="card-container" style="background-color: burlywood;"></div>
                <div class="card-container" style="background-color: burlywood;"></div>
                <div class="card-container" style="background-color: burlywood;"></div>
                <div class="card-container" style="background-color: burlywood;"></div>
                <div class="card-container" style="background-color: burlywood;"></div>
                <div class="card-container" style="background-color: burlywood;"></div>
                <div class="card-container" style="background-color: burlywood;"></div>
                <div class="card-container" style="background-color: burlywood;"></div>
                <div class="card-container" style="background-color: burlywood;"></div>
                <div class="card-container" style="background-color: burlywood;"></div>
                <div class="card-container" style="background-color: burlywood;"></div>
                <div class="card-container" style="background-color: burlywood;"></div>
                <div class="card-container" style="background-color: burlywood;"></div>
                <div class="card-container" style="background-color: burlywood;"></div>
                <div class="game-info">
                    <p>Aqui va la información</p>
                    <p>Timer</p>
                    <p>puntuación</p>
                    <p>algo mas que se me ocurra...</p>
                </div>
        </section>
    </body>


</html>